docker {
    enabled = true
}

manifest {
    mainScript      = 'main.nf'
}

process {
    withLabel: Prep_fasta { 
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_0'
        clusterOptions = "--mem-per-cpu 8000M"
        executor = 'local'
        cpus = '25'
    }

    withLabel: Mini_cactus { 
        container = 'quay.io/comparative-genomics-toolkit/cactus:v2.9.0'
        executor = 'local'
        memory = '32 GB'
        cpus = '25'
    }

    withLabel: Vg_index { 
        container = 'quay.io/vgteam/vg:latest'
        executor = 'local'
        memory = '32 GB'
        cpus = '25'
    }
}

params {
    outdir = 'cactus_pipe'
    cram_list = '/archive/public/cactus/examples/sample_cram.txt'
    ref = '/archive/share_sever/GRCh38/GRCh38.p14.genome.fa'
    num_cpu = 20 
}